<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Your Gab</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="nav-bar">
        <div class="nav-item">
            <a href="/dashboard"></a><div class="">{{username}}</div>
        </div>
        <div class="nav-item">
            <a href="/gabs"></a>
        </div>
        <div class="nav-item">
            <a href="/create"></a>
        </div>
        <div class="nav-item">
            <a href="/logout"></a>
        </div>
    </div>
    <div class="gab-wrapper">
        <div class="gab-div">
            {{#errors}}
            <p>{{msg}}</p>
            {{/errors}}
            <form action="/edit/{{gabId}}">
                <input type="text" name="editContent" placeholder="Content Here: " autofocus>
                <button class="button animation" type="submit">Update Gab</button>
            </form>
        </div>
    </div>

</body>
</html>