<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="page-container">
        <div class="title-container"></div>
        <div class="page-header">Log In</div>
        <div class="login-container">
        <form class="login-form" action="/login" method="POST">
            <input class="inputs" type="text" name="username" placeholder="User Name: " autofocus/>
            <input class="inputs" type="password" name="password" placeholder="Password: "/>
            <button class="button" type="submit">Log In</button>
        </form>
        </div>
    </div>
</body>
</html>